.App {
  text-align: center;
  width : 1200px;
  display: flex;
  flex-direction : column;
  justify-content: center;
  margin-left : auto;
  margin-right : auto;
}

@keyframes fade-in {
  from {opacity: 0%;}
  to {opacity: 100%;}
}


